


body {
    border-radius: 2px;
    padding: 20px 5vw 50px 5vw;
    font-size:14px;
    line-height: 12px;  
    font-family: 'Noto Sans TC', sans-serif;
}

.p {
    background-color:rgb(241, 241, 241);
    line-height: 25px;
    Padding:12px 20px;
    border-radius:3px;
    color:  rgb(0, 116, 184);
    font-weight: bold;
    width:870px;
    margin:auto;
}

.container{
    display: flex;
	flex-wrap: wrap;
    justify-content: center;  
}
.card {
    transition: all 0.3s linear; 
    border:1px solid lightgrey;
    width: 900px;
    margin: 10px;
    
}

/*.card:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}*/

.text {
    font-size:1em;
    line-height:1.1em;
    word-break: break-word;
    color: #303030;
    margin:20px;
}

.scene-content {
    margin:20px;
    }

ul{
    list-style: none;
    padding:0;
    margin:0;
}

li{
    padding:10px;
}

.card img {
    width:900px;
    height:300px;
    margin: auto; 
    display:block;
    object-fit:cover;

}

footer img{
    width:250px;
    display:block;
    margin:auto;
    padding: 40px;
}


@media only screen and (max-width: 992px) {

    .card {
        width:100%;
    }


    .card img{
        width:100%;
        height:auto;
    }

    .p {
        width:auto;
    }
    
}

@media only screen and (max-width: 768px) {

    body {
        margin: 10px;
        border-style: none;
        padding: 0;
        box-shadow:none;
    }

    
    .p {
        font-size: 1em;
    }

    .scene-content {
        margin:10px;
        }
}