


body {
    border-radius: 2px;
    padding: 20px 5vw 50px 5vw;
    font-size:14px;
    line-height: 12px;  
    font-family: 'Noto Sans TC', sans-serif;
}



hr{
    border:.5px solid rgb(228, 228, 228);
}

.container{
    display: flex;
	flex-wrap: wrap;
    justify-content: center;  
}



.card{
    
    box-shadow: 0 0 0 1px #e3ebf3;
    border:1px solid lightgrey;
    background-color:white;   
    transition: all 0.3s linear; 
    overflow-y: hidden;
    justify-items: start;
    display:flex;
    width:910px;
    margin: 10px;
}



/*.card:hover{
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}*/

.content {
    width:100%;
    line-height:1em;
    word-break: break-word;
    padding:20px;
    color: #303030;
}

.card img {
   height:324px;
   min-width: 220px;
    object-fit: cover;

}

.p {
    background-color:rgb(241, 241, 241);
    font-weight: bold; 
    line-height: 25px;
    Padding:12px 20px;
    border-radius:3px;
    color:  rgb(0, 116, 184);
    width:870px;
    margin:auto;
}


footer img{
    width:250px;
    display:block;
    margin:auto;
    padding: 40px;
}


@media only screen and (max-width: 992px) {

    .card
    ,.content
     {
        width:100%;
    }

    .p {
        width:auto;
    }

}

@media only screen and (max-width: 768px) {

    body {
        margin: 10px;
        border-style: none;
        padding: 0;
        box-shadow:none;
        
    }

    
    .card{
        flex-wrap: wrap;
        width:auto;
    }

    .content{
        width: 100%;
    }

    
}